process {
    executor = 'local'
    container = '\$NEXTFLOW_CONTAINER_IMAGE'  // Use an environment variable for flexibility
    containerEngine = 'docker'
    shell = ['/bin/sh', '-e']  // <-- use sh instead of bash

    withName:split {
        publishDir = [path: 'results/lower', mode: 'copy']
    }

    withName:convert_to_upper {
        publishDir = [path: 'results/upper', mode: 'copy']
    }
}

docker {
    enabled = true
}