process {
    executor = 'k8s'
    container = 'ubuntu:24.04'         // Use a bash-compatible image
    containerEngine = 'docker'         // Still valid, even when K8s uses containerd underneath
    namespace = '\$K8S_NAMESPACE'                 // Your Kubernetes namespace

    // Kubernetes resource limits
    k8s.cpuLimits = '2'
    k8s.cpuRequests = '1'              // Optional: set requests separately
    k8s.memory = '1Gi'                 // Optional: define memory

    withName:split {
        publishDir = [path: 'results/lower', mode: 'copy']
    }

    withName:convert_to_upper {
        publishDir = [path: 'results/upper', mode: 'copy']
    }
}

// Optional: Enable debug logging for K8s executions
k8s {
    //storageClaimName = 'your-pvc-name'    // OPTIONAL: use a PVC if needed
    launchDir = '/'              // Working directory in the pod
    workDir = 'tmp'                      // Relative work directory
    debug = true
}
